<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="OOPS_Framework" parallel="methods" thread-count="5" >
  <parameter name="browser" value="ff">
  </parameter>
  
    <classes>
      <class name="com.base.test.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
